.decorated-text {
  font-size: 2rem;
  color: black;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border: 5px solid #000;
  display: inline-block;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15),
    -10px -10px 20px rgba(255, 255, 255, 0.7);
  margin: 20px 0;
}
